{% extends 'new_base.html' %}


{% load static %}
{% block content %}

<!-- Page Content -->
<div id="page-content">
    <div class="text-center" style="background: url({% static 'img/homepage/slide1.jpg' %}) no-repeat center;background-size:cover;">
        <div class="header-pattern">
            <div class="container blog-sm">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="header-text">
                            <h1>Stories On Suburb</h1>
                            <p>Lorem Ipsum is simply dummy text of the</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation blog-nv blog-small">
        <header class="navbar" id="top">
            <div class="container">
                <nav class="secondary col-xs-12">
                    <ul class="nav navbar-nav">
                        <li class="col-sm-2 col-sm-offset-4 has-child"><a href="">Archive</a>
                            <ul class="child-navigation">
                                <li><a href="blog_list_category.html">Archive 1</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-2 has-child" onclick=""><a href="">Browse categories</a>
                            <ul class="child-navigation">
                                {% for category in categories %}

                                <li><a href="#">{{ category.title }}</a></li>

                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </nav><!-- /.navbar collapse-->
            </div>
            <div class="site-header">
                <div class="mob-menu blog-mn">
                    <nav class="secondary">
                        <ul class="nav navbar-nav">
                            <li class="col-sm-3 col-xs-12 has-child"><a href="">Archive</a>
                                <ul class="child-navigation">
                                    <li><a href="blog_list_category.html">Archive 1</a></li>

                                </ul>
                            </li>
                            <li class="col-sm-3 col-xs-12 has-child" onclick=""><a href="">Browse categories</a>
                                <ul class="child-navigation">
                                    {% for category in categories %}

                                        <li><a href="#">{{ category.title }}</a></li>

                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </nav><!-- /.navbar collapse-->
                </div>
            </div>
        </header><!-- /.navbar -->
    </div>
    <div class="container top-indent">
        <div class="row">
            <!-- Content -->
            <div class="col-md-12 col-sm-12">
                <section id="posts">
                    <div class="row grid">
                    {% if posts %}
                        {% for post in posts %}

                            {% if post.published %}

                                <div class="col-md-6 col-sm-6 col-xs-12 grid-item">
                            <article class="blog-post type-post format-image">
                                <div class="header-text">
                                    <a href={% url 'blog:post' post.id %}><h3>{{ post.title }}</h3></a>
                                </div>
                                <figure class="meta">
                                    <div class="post-date">
                                        <a href="#" class="link-icon"><i class="fa fa-calendar"></i>{{ post.date|date }}</a>
                                    </div>
                                    <div class="tags pull-right">
                                        <a href="#" class="tag article"># {{ post.category }}</a>
                                    </div>
                                </figure>
                                <div class="post-thumbnail"><a href={% url 'blog:post' post.id %} title="" rel="bookmark"><img src={{ post.main_image.url }} alt="" /></a></div>
                                <p>{{ post.content|truncatechars:250 }}</p>
                                <div class="button-continue">
                                    <a href={% url 'blog:post' post.id %}>Read Article</a>
                                </div>
                            </article>
                        </div>

                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div style="text-align: center">
                        No Posts Found
                        </div>
                    {% endif %}

                    </div>
                </section>
                <section id="pagination">
                    <nav id="nav-below" class="site-navigation paging-navigation navbar">
                        <div class="nav-previous"><a href="#">PREV PAGE</a></div>
                        <ul class="pagination pagination-lg">
                            <li><a href="#">1</a></li>
                            <li><span class="active">2</span></li>
                            <li><a href="#">3</a></li>
                            <li><span class="nav-dots">...</span></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <div class="nav-next"><a href="#">NEXT PAGE</a></div>
                    </nav>
                </section>
            </div><!-- /.col-md-9 -->
            <!-- end Content -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->

{% endblock content %}
