{% extends 'new_base.html' %}
{% load static %}
{% block content %}

<!-- Page Content -->
<!-- Page Content -->
		<div id="page-content" class="blog-styles">
			<div class="text-center" style="background: url({% static 'img/homepage/slide1.jpg' %}) no-repeat center;background-size:cover;">
				<div class="header-pattern">
					<div class="container blog-sm">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="header-text">
									<h1>{{ post.title }}</h1>
									<figure class="meta">
										<div class="post-date">
											<a href="#" class="link-icon"><i class="fa fa-calendar"></i>{{ post.date|date }}</a>
										</div>
										<div class="tags">
											<a href="#" class="tag article"># {{ post.category|lower }}</a>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="navigation blog-nv">
				<header class="navbar" id="top">
					<div class="container">
						<nav class="secondary col-xs-12">
							<ul class="nav navbar-nav">
								<li class="col-sm-2 col-sm-offset-2 back"><a href={% url 'blog:home' %}><i class="fa fa-sort-desc"></i>Back to List</a>
								</li>
								<li class="col-sm-2 has-child"><a href="">Archive</a>
									<ul class="child-navigation">
										<li><a href="#">Archive 1</a></li>
									</ul>
								</li>
								<li class="col-sm-3 has-child" onclick=""><a href="">Browse categories</a>
									<ul class="child-navigation">

                                        {% for category in categories %}

										<li><a href="#">{{ category.title }}</a></li>

                                        {% endfor %}
									</ul>
								</li>
							</ul>
						</nav><!-- /.navbar collapse-->
					</div>
					<div class="site-header">
						<div class="mob-menu blog-mn">
							<nav class="secondary">
								<ul class="nav navbar-nav">
									<li class="col-sm-4 back"><a href={% url 'blog:home' %}><i class="fa fa-sort-desc"></i>Back to List</a>
									</li>
									<li class="col-xs-12 has-child"><a href="">Archive</a>
										<ul class="child-navigation">
											<li><a href="#">Archive 1</a></li>
										</ul>
									</li>
									<li class="col-xs-12 has-child" onclick=""><a href="">Browse categories</a>
										<ul class="child-navigation">
                                            {% for category in categories %}

										        <li><a href="#">{{ category.title }}</a></li>

                                            {% endfor %}
										</ul>
									</li>
								</ul>
							</nav><!-- /.navbar collapse-->
						</div>
					</div>
				</header><!-- /.navbar -->
			</div>
			<div class="container blog-sm"><!-- Content -->
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<section id="content" style="margin-top:35px;">
							<p>{{ post.content }}</p>
							<section id="img-gallery">
								<div class="grid js-masonry html-code grid-of-images">
									<!-- grid start -->
									<div class="col-xs-12">
										<a href="#" class="image-popup grid-item">
											<div class="col-xs-12 img-big" style="background-image:url({{ post.main_image.url }});background-size:cover;">
											</div>
										</a>
									</div>
									<div class="col-xs-12">

                                        {% if post.image1 %}

										<div class="col-sm-6 col-xs-12 right">
											<a href="#" class="image-popup grid-item">
												<div class="col-xs-12 img-big" style="background-image:url({{ post.image1.url }});background-size:cover;">
												</div>
											</a>
										</div>

                                        {% endif %}

                                        {% if post.image2 %}

										<div class="col-sm-6 col-xs-12 left">
											<a href="#" class="image-popup grid-item">
												<div class="col-xs-12 img-big" style="background-image:url({{ post.image2.url }});background-size:cover;">
												</div>
											</a>
										</div>

                                        {% endif %}

									</div>
									<div class="col-xs-12">

                                        {% if post.image3 %}

										<div class="col-sm-6 right">
											<a href="#" class="image-popup grid-item">
												<div class="col-xs-12 img-big" style="background-image:url({{ post.image3.url }});background-size:cover;">
												</div>
											</a>
										</div>

                                        {% endif %}

                                        {% if post.image4 %}

										<div class="col-sm-6 left">
											<a href="#" class="image-popup grid-item">
												<div class="col-xs-12 img-big" style="background-image:url({{ post.image4.url }});background-size:cover;">
												</div>
											</a>
										</div>

                                        {% endif %}

									</div>
								</div>
							</section>
							<p>Courtesy - <a href={{ post.courtesy_url }}>{{ post.courtesy_title }}</a></p>
						</section><!-- /#content -->
						<section id="share">
							<ul class="social">
								<li class="social-text">SHARE:</li>
								<li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="blank"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a></li>
								<li><a class="google" href="https://www.google.com" target="blank"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="pinterest" href="https://www.pinterest.com" target="blank"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</section>
					</div><!-- /.col-md-12 col-sm-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->

			<div class="wide-1">
				<div class="container blog-sm">
					<div class="row">
						<!-- Content -->
						<div class="col-md-12 col-sm-12">
							<section id="related-posts" class="related-posts">
								<header><h3 class="no-border" style="margin-top:35px;">Recent Posts</h3></header>
								<div class="row">

                                    {% if recent_posts %}

                                        {% for recent_post in recent_posts %}



									        <div class="col-md-6 col-sm-6">
										<article class="blog-post">
											<div class="header-text">
												<a href={% url 'blog:post' recent_post.id %}><h3>{{ recent_post.title }}</h3></a>
											</div>
											<figure class="meta">
												<div class="post-date">
													<a href="#" class="link-icon"><i class="fa fa-calendar"></i>{{ recent_post.date|date }}</a>
												</div>
												<div class="tags pull-right">
													<a href="#" class="tag article"># {{ recent_post.category }}</a>
												</div>
											</figure>
											<div class="post-thumbnail" style="background-image: url({{ recent_post.main_image.url }}); height: 190px; background-size: cover"><a href="#" title="" rel="bookmark"></a></div>
											<p>{{ recent_post.content|truncatechars:100 }}</p>
											<div class="button-continue">
												<a href={% url 'blog:post' recent_post.id %}>Read Article</a>
											</div>
										</article>
									</div>



                                        {% endfor %}

                                    {% endif %}

								</div>
							</section>
						</div><!-- /.col-md-12 col-sm-12-->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.wide-1 -->

			<div class="container blog-sm">
				<div class="row">
					<!-- Content -->
					<div class="col-md-12 col-sm-12">
						<br />
						<div class="row">


							<section id="comments">
								<div class="col-md-9 col-sm-9">
									<header><h3 class="no-border">{{ comments.count }} Comments</h3></header>
									<ul class="comments">

                                        {% for comment in comments %}

										<li class="comment">
											<div class="comment-wrapper">
												<div class="name pull-left">{{ comment.name }}</div>
												<span class="date link-icon clearfix"><span class="fa fa-calendar"></span>{{ comment.date|date }}</span>
												<p>
                                                    {{ comment.comment_text }}
												</p>
											</div>
										</li>

                                        {% endfor %}

									</ul>

									<section>
										<header><h4 class="no-border">Add Comment</h4></header>
										<div class="row">
											<form id="form-single-property-reply" method="post">

                                                {% csrf_token %}

												<div class="col-xs-12">
													<input type="text" class="form-control" id="form-blog-reply-name" name="name" placeholder="Your Name" required>
												</div><!-- /.form-group -->
												<div class="col-xs-12">
													<textarea class="form-control" id="form-blog-reply-message" rows="5" name="comment-text" placeholder="Write Your Text..."></textarea>
												</div><!-- /.form-group -->
												<div class="col-xs-12 btm-indent">
													<button type="submit" class="btn pull-right btn-small btn-primary" id="form-blog-reply-submit">Comment</button>
												</div><!-- /.form-group -->
												<div id="form-rating-status"></div>
											</form><!-- /#form-contact -->
										</div>
									</section>
								</div>
							</section><!-- /#comments -->



							<br />
						</div><!-- /.row  -->
					</div><!-- /.col-md-12 col-sm-12-->
				</div><!-- /.row  -->
			</div><!-- /.container -->
		</div><!-- end Page Content -->
<!-- end Page Content -->

{% endblock content %}

