{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <!-- Container -->

    <div id="page-content">
			<div class="wide-4">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href={% url 'core:home' %}>Home</a></li>
						<li class="active">Change Password</li>
					</ol>
				</div>
				<div class="container">
					<div class="">
						<h2>Accounts</h2>
						<h6 class="team-color" style="font-weight: lighter">It is easy and takes 5 min maximum</h6>
					</div>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}



					<form method="POST" action="{% url 'account_change_password' %}" class="password_change">

                        {% csrf_token %}

						<div class="wide-3" style="margin-top: 30px">
							<div class="container">

                                <div style="margin-top: 20px">
                                    <div style="font-size: 30px; text-align: center"><i class="fa fa-plus-circle"></i><span>  Change Password</span></div>
                                </div>

                                <hr>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">Enter Current Password: </div>
                                    <div>
                                        <input type="password" class="form-control" name="oldpassword" placeholder="Current Password" required="" id="id_oldpassword">
                                    </div>
                                </div>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">Enter New Password: </div>
                                    <div>
                                        <input type="password" class="form-control" name="password1" placeholder="New Password" required="" id="id_password1">
                                    </div>
                                </div>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">Enter New Password (Again): </div>
                                    <div>
                                        <input type="password" class="form-control" name="password2" placeholder="New Password (again)" required="" id="id_password2">
                                    </div>
                                </div>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">
                                        <input type="submit" name="action" style="color: white" class="form-control btn-danger" value="{% trans 'Change Password' %}" />
                                    </div>
                                </div>

                            </div>
						</div>
					</form>
				</div>
			</div>
		</div>


{% endblock %}
