{% extends "account/base.html" %}
{% load i18n %}

{% block content %}



<!-- Container -->
<div id="page-content">
			<div class="wide-4">
				<div class="container">
					<ol class="breadcrumb">
						<li><a href={% url 'core:home' %}>Home</a></li>
						<li class="active">Signup</li>
					</ol>
				</div>
				<div class="container">
					<div class="">
						<h2>Accounts</h2>
						<h6 class="team-color" style="font-weight: lighter">It is easy and takes 5 min maximum</h6>
					</div>
					<form class="signup" id="signup_form" method="post" action="/accounts/signup/">

                        {% csrf_token %}

						<div class="wide-3" style="margin-top: 30px">
							<div class="container">

                                <div style="margin-top: 20px">
                                    <div style="font-size: 30px; text-align: center"><i class="fa fa-plus-circle"></i><span>  Sign Up</span></div>
                                </div>

                                <hr>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">Email ID:</div>
                                    <div>
                                        <input type="email" class="input-text form-control" name="email" id=id_email">
                                    </div>
                                </div>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">Password:</div>
                                    <div>
                                        <input class="input-text form-control" type="password" name="password1" required id="id_password1">
                                    </div>
                                </div>

                                <div style="margin: 30px">
                                    <div style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">Repeat Password:</div>
                                    <div>
                                        <input class="input-text form-control" type="password" name="password2" required id="id_password2">
                                    </div>
                                </div>



                                <div class="row" style="margin: 30px">

                                    <div class="col-md-6 col-sm-12" style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">
                                        <a href={% url  'account_login' %} class="btn-danger form-control" style="text-align: center;">Already have an Account</a>
                                    </div>

                                    <div class="col-md-6 col-sm-12" style="font-weight: bold; font-size: 15px; margin-top: 10px; margin-bottom: 10px">
                                        <button class="btn-primary form-control" type = "submit" style="color: white">Register</button>

                                    </div>


                                </div>







                            </div>
						</div>
					</form>
				</div>
			</div>
		</div>
<!-- Container / End -->

{% endblock %}

