{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Page Content -->
<div id="page-content">
    <div id="map2" class="map">

    </div>
    <div class="container">
        <div class="row">
            <div class="contact-form">
                <h2>We're here to help you.</h2>
                <h6>Have a question? Write Us</h6>
                <form id="form-submit" class="form-submit">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Your Name:</label>
                            <input id="input-name" type="text" class="form-control" placeholder="Enter your Name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Your Email Address:</label>
                            <input id="input-email" type="text" class="form-control" placeholder="Enter your Email" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <label>Subject:</label>
                            <input id="input-subject" type="text" class="form-control" placeholder="Example: Lorem Ipsum" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <label>Your Message:</label>
                            <textarea id="text-area-contact" rows="8" cols="45" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="submit">
                        <span class="ffs-bs"><button type="submit" class="btn btn-large btn-primary" style="color:#fff;">Send Message</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end Page Content -->


{% endblock content %}