
{% load static %}

<footer id="page-footer">
		<div class="inner">
			<section id="footer-main">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<article>
								<h3>About Us</h3>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
								</p>
							</article>
						</div><!-- /.col-sm-3 -->
						<div class="col-md-3 col-sm-3">
							<article>
								<h3>Recent Properties For Sale</h3>
                                {% if properties %}
                                {% for property in properties %}


								<div class="property small">
									<a href=>
										<div class="property-thumbnail" style="background-size: cover; width: 100px">
											<img alt="" src={{ property.main_image.url }} width="100px">
										</div>
									</a>
									<div class="info">
										<a href={% url 'core:property' property.id %}>{{ property.property_name }}</a>
										<figure>{{ property.city }}</figure>
										<div class="tag price">{{ property.total_price }}</div>
									</div>
								</div><!-- /.property -->

                                {% endfor %}
                                    {% else %}
                                    <div>No Property to Show</div>
                            {% endif %}

							</article>
						</div><!-- /.col-sm-3 -->
						<div class="col-md-3 col-sm-3">
							<article class="contact-us">
								<h3>Contact Us</h3>
								<address>
									HomePlanify<br>
									Faridabad<br>
									Haryana, India
								</address>
								+91-9999998627<br>
								<a href="homeplanify@gmail.com" class="mailto">homeplanify@gmail.com</a>
							</article>
						</div><!-- /.col-sm-3 -->
						<div class="col-md-3 col-sm-3">
							<article>
								<h3>Useful Links</h3>
								<ul class="list-unstyled list-links">
									<li><a href={% url 'core:properties' %}>All Properties</a></li>
									<li><a href={% url 'core:contact' %}>Contact</a></li>
									<li><a href={% url 'core:about' %}>About</a></li>
									<li><a href={% url 'core:addproperty' %}>Add Property</a></li>
								</ul>
							</article>
						</div><!-- /.col-sm-3 -->
						<div class="col-md-12 col-sm-12">
							<span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /#footer-main -->

			<section id="footer-thumbnails" class="footer-thumbnails"></section><!-- /#footer-thumbnails -->
			<section id="footer-copyright">
				<div class="container">
					<a href="http://fruitfulcode.com" target="blank">© HomePlanify,</a>
{#					<span>Powered by</span>#}
{#					<a href="http://getbootstrap.com " target="blank">Bootstrap</a>#}
{#					<img class="pull-right bank-logo" alt="" src="assets/img/master-card.png">#}
{#					<img class="pull-right bank-logo" alt="" src="assets/img/visa.png">#}
{#					<img class="pull-right bank-logo" alt="" src="assets/img/stripe.png">#}
{#					<img class="pull-right bank-logo" alt="" src="assets/img/paypal.png">#}
{#					<span class="pull-right">We accept:</span>#}
				</div>
			</section>
		</div><!-- /.inner -->
	</footer>