{% load static %}


<div class="navigation">
		<header class="navbar" id="top">
			<div class="container">
				<div class="navbar-brand nav">
					<a class="navbar-brand nav logo" href={% url 'core:home' %} title="" rel="home">
						<object class="master-logo" type="image/svg+xml"></object>
					</a>
					<a class="navbar-brand nav logo retina" href={% url 'core:home' %} title="" rel="home">
						<object class="master-logo" type="image/svg+xml"></object>
					</a>
				</div>
				<nav class="secondary main-menu">
					<a href="#" data-toggle="dropdown" class="pull-right drop-left">More
						<div class="gamb-button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</div>
					</a>
					<ul class="nav navbar-nav dropdown-menu pull-right slide-left">
						<li class="active"><a href={% url 'core:home' %}>Home</a></li>
						<li><a href={% url 'core:agents' %}>Agents</a></li>
						<li class="has-child"><a href="#">Properties</a>
							<ul class="child-navigation">
								<li><a href={% url 'core:addproperty' %}>Add Property</a></li>
								<li><a href={% url 'core:properties' %}>Property Page</a></li>
							</ul>
						</li>

						<li><a href={% url 'blog:home' %}>Blog</a>

						</li>
						<li><a href={% url 'core:about' %}>About Us</a></li>
						<li><a href={% url 'core:contact' %}>Contact us</a></li>
						<li>
							<a href="#" data-toggle="dropdown" class="pull-right drop-close">Close
								<i class="icon-cross"></i>
							</a>
						</li>
					</ul>
				</nav><!-- /.navbar collapse-->
				<nav class="primary start main-menu">
					<ul class="nav navbar-nav pull-right">
						<li><a href={% url 'core:addproperty' %}>Add Property</a></li>

                        {% if request.user.is_authenticated %}

						    <li class="has child"><a href="#" >Hi, {{ request.user.username }}</a>

                                <ul class="child-navigation">
                                    <li><a href={% url 'core:userprofile' %}>Profile</a></li>
                                </ul>

                            </li>
                        {% else %}
						<li><a href={% url 'account_login' %} >Log In<i class="fa fa-arrow-right"></i></a></li>

                        {% endif %}
					</ul>
				</nav>
			</div>
			<div class="site-header">
				<a href="#" data-toggle="dropdown" class="pull-right drop-left">Menu
					<div class="gamb-button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
				</a>
				<div class="navbar-brand nav">
					<a class="navbar-brand nav logo" href={% url 'core:home' %} title="" rel="home">
						<object class="master-logo" type="image/svg+xml"></object>
					</a>
					<a class="navbar-brand nav logo retina" href={% url 'core:home'%} title="" rel="home">
						<object class="master-logo" type="image/svg+xml"></object>
					</a>
				</div>
				<div class="mob-menu drop-close hidden">
					<a href="#" data-toggle="dropdown" class="pull-right drop-close hidden black-cross">Close
						<span class="icon-cross"></span>
					</a>
					<nav class="secondary">
						<ul class="nav navbar-nav">

                            {% if request.user.if_authenticated %}

							<li><a href{% url 'core:userprofile' %} >Profile<i class="fa fa-arrow-right"></i></a></li>

                            {% else %}
							<li><a href={% url 'account_login' %} >Log In</a></li>

                            {% endif %}
							<li class="active"><a href={% url 'core:home' %}>Home</a>

							</li>
							<li><a href={% url 'core:agents' %}>Agents</a>

							</li>
							<li><a href={% url 'core:properties' %}>All Properties</a>

							</li>

							<li><a href={% url 'blog:home' %}>Blog</a>

							</li>
							<li><a href={% url 'core:about' %}>About Us</a></li>
							<li><a href={% url 'core:contact' %}>Contact us</a></li>

						</ul>
					</nav><!-- /.navbar collapse-->
				</div>
			</div>
		</header><!-- /.navbar -->
	</div>