{% extends 'base.html' %}
{%  load static %}
{% load indian_numbers_tags %}

{% block body_class %}
<body class="page-search" id="page-top">
{% endblock body_class %}

{% block extra_stylesheet %}
<style>
input {
    border: 0px;
    padding: 15px 15px 15px 20px !important;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: none;
}
</style>
{% endblock %}

{% block content %}

<!-- Page Content -->
<div id="page-content-search">
<div class="container">
    <div class="wide_container_2">
        <div class="col-xs-12 content_2">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <!-- Range slider -->
                <div class="row">
                    <div class="explore col-xs-12">
                        <h2>Properties</h2>
{#                        <h5 class="team-color col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">Find the best suitable property</h5>#}
                    </div>
                    <div class="col-xs-12" style="padding: 0; ">
                        <div class="row">
                            <form method="get">
{#                                <div class="col-md-2 col-sm-12" style="text-align: center; margin-bottom: 15px">#}
{#                                    <select class="selection" style="width: 100%; height: 50px;  border: 1px solid lightgray; border-radius: 4px; padding-left: 20px; color: grey">#}
{#                                        <option>Sort By : </option>#}
{#                                        <option>Date</option>#}
{#                                        <option>Price</option>#}
{#                                        <option>Type</option>#}
{#                                    </select>#}
{#                                </div>#}

                                <div class="col-md-12 col-sm-12" style="text-align: center; margin-bottom: 15px">
                                    <div class="row">

                                        <div class="col-md-9 col-sm-12">
                                            <input class="form-control" type="text" name="search" placeholder="Search Keyword" style="height: 50px; width: 100%; border: 1px solid lightgray; border-top-left-radius: 4px; border-bottom-left-radius: 4px">
                                        </div>
                                        <div class="col-md-3 col-sm-12">
                                            <button class="btn btn-dark" style=" height: 50px; width: 100%">Search</button>
                                        </div>

                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>

                </div><!-- row -->
                <!-- End Range slider -->
                <div class="wide-2">
                    <div class="container">

                    {% if properties %}
                        {% for property in properties %}

                        <div class="row white">
										<div class="col-md-3 col-sm-3 prp-img">
											<div class="exp-img-2" style="background:url({{ property.main_image.url }}) center;background-size: cover; height: 100%">
												<span class="filter"></span>
												<span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
{#												<div class="overlay">#}
{#													<div class="img-counter">23 Photo</div>#}
{#												</div>#}
											</div>
										</div>
										<div class="item-info col-lg-7 col-md-6 col-sm-6">
											<h4><a href={% url 'core:property' property.id %}>{{ property.property_name }}</a></h4>
											<p class="team-color">{{ property.city }}</p>
											<div class="block">
												<div class="col-md-3 col-sm-3 col-xs-3 cat-img">
													<img src={% static 'img/bedroom.png' %} alt="">
													<p class="info-line">{{ property.bedrooms }} Bedroom(s)</p>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-3 cat-img">
													<img src={% static 'img/bathroom.png' %} alt="">
													<p class="info-line">{{ property.bathrooms }} Bathroom(s)</p>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-3 cat-img">
													<img src={% static 'img/garage.png' %} alt="">
													<p class="info-line">{{ property.rooms }} Room(s)</p>
												</div>
											</div>
											<div class="col-md-3 col-sm-3 col-xs-3 line"></div>
											<div class="col-md-3 col-sm-3 col-xs-3 line"></div>
											<div class="col-md-3 col-sm-3 col-xs-3 line"></div>
											<div class="col-md-3 col-sm-3 col-xs-3 line"></div>
											<hr>
											<p style="color: transparent">Aenean quis sem nisi. Aliquam vehicula gravida orci, nec pretium mi ultricies in. Donec fermentum pulvinar mauris neque justo ...</p>
										</div>
										<div class="item-price col-lg-2 col-md-3 col-sm-3 col-xs-12">
											<div class="sum col-sm-12 col-xs-6">
												<h4>₹ {{ property.total_price|floatword_indian }}</h4>
												<p class="team-color">for {{ property.get_type_display }}</p>
											</div>
											<span class="ffs-bs col-xs-12 btn-half-wth"><a href="{% url 'core:property' property.id %}" class="btn btn-default btn-small">Show more <i class="fa fa-caret-right"></i></a></span>
											<div class="sum favorite col-sm-12 col-xs-6">
                                                <a href={% url 'core:addtobookmarks' property.id %}>
												<div class="bookmark col-xs-3" data-bookmark-state="empty">
                                                    <span class="title-add">Add to bookmark</span>
												</div>
												<p class="col-xs-3">Fav</p>
                                                </a>
                                                <a href={% url 'core:addtocompare' property.id %}>
												<div class="compare col-xs-3" data-compare-state="empty">
                                                    <span class="plus-add">Add to compare</span>
												</div>
												<p class="col-xs-3">Comp</p>
                                                </a>
											</div>
										</div>
									</div>

                        {% endfor %}
                    {% else %}

                        <div class="row text-center">
                            No Property to show.
                        </div>

                    {% endif %}




                    </div>
                </div>
                <!-- end wide-2 -->
            </div>
        </div>

        <!-- pagination -->
        {% if properties.has_other_pages %}
            <div class="col-xs-12">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <nav id="nav-below" class="site-navigation paging-navigation navbar">
                         {% if properties.has_previous %}
                        <div class="nav-previous"><a href="?page={{ properties.previous_page_number }}">PREV PAGE</a></div>
                        {% endif %}

                        <ul class="pagination pagination-lg">
                            <li><span class="active">{{ properties.number }}</span></li>
                            <li><span class="nav-dots">...</span></li>
                            <li><a href="?page={{ properties.paginator.num_pages }}">{{ properties.paginator.num_pages }}</a></li>
                        </ul>
                         {% if properties.has_next %}
                        <div class="nav-next"><a href="?page={{ properties.next_page_number }}" >NEXT PAGE</a></div>
                         {% endif %}
                    </nav>
                </div>
            </div>
        {% endif %}

    </div>
</div>
</div>
</div>
<!-- end Page Content -->

{% endblock content %}