{% load static %}

	<script type="text/javascript" src="{%  static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/retina-1.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/masonry.pkgd.min.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/selectize.min.js' %}"></script>


	<script type="text/javascript" src="{%  static 'js/custom-map.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/custom.js' %}"></script>

<!--[if gt IE 8]>
	<script type="text/javascript" src="{%  static 'js/ie.js' %}"></script>
<![endif]-->


