{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Page Content -->
<div id="page-content">
  <div class="container" id="compare">
    <header><h2>Compare Property</h2>
      <p>It is easy and takes 15 min maximum</p>
    </header>
    <section id="property-package">
      <div class="table-responsive submit-pricing">
        <table class="table">
          <thead>
            <tr>
              <th class="h4">Your Property:</th>
              <th class="picture">
                <div class="property-image" style="background:url(http://placehold.it/255X200) center;
                background-size: cover;">
                  <div class="overlay">
                    <div class="img-counter">23 Photo</div>
                  </div>
                </div>
              </th>
              <th class="picture">
                <div class="property-image" style="background:url(http://placehold.it/255X200) center;
                background-size: cover;">
                  <div class="overlay">
                    <div class="img-counter">23 Photo</div>
                  </div>
                </div>
              </th>
              <th class="picture">
                <div class="property-image" style="background:url(http://placehold.it/255X200) center;
                background-size: cover;">
                  <div class="overlay">
                    <div class="img-counter">23 Photo</div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="rigt-align">Property Price</td>
              <td>$5,000,000</td>
              <td>$5,000,000</td>
              <td>$5,000,000</td>
            </tr>
            <tr>
              <td class="rigt-align">Property Name</td>
              <td>AVA High Line 980917 APartments Lorem ipsum 2 row of ...</td>
              <td>AVA High Line 980917 APartments Lorem ipsum 2 row of ...</td>
              <td>AVA High Line 980917 APartments Lorem ipsum 2 row of ...</td>
            </tr>
            <tr>
              <td class="rigt-align">Property Address</td>
              <td>Address Greate 19 00</td>
              <td>Address Greate 19 00</td>
              <td>Address Greate 19 00</td>
            </tr>
            <tr>
              <td class="rigt-align">Property Type</td>
              <td class="available">Apartment Studio</td>
              <td class="available">Apartment Studio</td>
              <td class="available">Apartment Studio</td>
            </tr>
            <tr>
              <td class="rigt-align">Bedrooms</td>
              <td class="available">3</td>
              <td class="available">3</td>
              <td class="available">3</td>
            </tr>
            <tr>
              <td class="rigt-align">Bathrooms</td>
              <td class="available">2</td>
              <td class="available">2</td>
              <td class="available">2</td>
            </tr>
            <tr>
              <td class="rigt-align">Size</td>
              <td class="available">100m<span class="rank">2</span></td>
              <td class="available">100m<span class="rank">2</span></td>
              <td class="available">100m<span class="rank">2</span></td>
            </tr>
            <tr>
              <td class="rigt-align">Garages</td>
              <td class="not-available">No</td>
              <td class="not-available">No</td>
              <td class="not-available">No</td>
            </tr>
            <tr class="buttons">
              <td></td>
              <td data-package="free"><button type="button" class="btn btn-small btn-primary">MORE DETAILS</button></td>
              <td data-package="silver"><button type="button" class="btn btn-small btn-primary">MORE DETAILS</button></td>
              <td data-package="gold"><button type="button" class="btn btn-small btn-primary">MORE DETAILS</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<!-- end Page Content -->

{% endblock content %}