{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- Titlebar================================================== -->
    <div id="titlebar">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href={% url 'core:home' %}>Home</a></li>
                <li class="active">Profile</li>
            </ol>

            <div class="row">
                <div class="col-md-12">

                    <h3>My Properties</h3>



                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">


            {% include 'dashboard/dashboardsidenav.html' %}

            <div class="col-md-8">



                    <!-- Item #1 -->

                        <div class="information-block">
									<div class="wide-2">
										<div class="row">
                                            {% for property in properties %}

											<div class="col-sm-4 col-xs-12 prop" style="margin-bottom: 20px">
												<div class="wht-cont">
													<div class="exp-img-2" style="background:url({{ property.main_image.url }}) center;background-size: cover;">
														<span class="filter"></span>
														<span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">Show more</label></span>

													</div>
													<div class="item-title">
														<h4><a href={% url 'core:property' property.id %}>{{ property.property_name }}</a></h4>
														<p class="team-color">{{ property.city }}</p>

													</div>
													<hr>
													<div class="item-title btm-part">
														<div class="row">
															<div class="col-md-8 col-sm-8 col-xs-8">
																<p>Rs. {{ property.total_price }}</p>
																<p class="team-color">FOR SALE</p>
															</div>
															<div class="col-md-4 col-sm-4 col-xs-4 favorite">

                                                                <a href="{% url 'core:editproperty' property.id %}"><i class="fa fa-pencil"></i></a>

                                                                {% if property.visible %}

                                                                <a href="{% url 'core:hideproperty' property.id %}"><i class="fa  fa-eye-slash"></i></a>

                                                                {% else %}

                                                                <a href="{% url 'core:showproperty' property.id %}"><i class="fa  fa-eye-slash"></i></a>

                                                                {% endif %}

                                                                <a href="{% url 'core:deleteproperty' property.id %}" class="delete"><i class="fa fa-remove"></i></a>

{#																<div class="bookmark" data-bookmark-state="empty">#}
{#																	#}
{#																</div>#}
{#																<div class="compare" data-compare-state="empty">#}
{#																	<span class="fa fa-pencil">Add to compare</span>#}
{#																</div>#}
															</div>
														</div>
													</div>
												</div>
											</div>

                                            {% endfor %}

										</div>
									</div>
								</div>




            </div>

        </div>
    </div>



{% endblock content %}